requests
flask
rasa-nlu==0.13.2
rasa-core==0.11.1
rasa-core-sdk==0.11.0
spacy
keras==2.2.4
numpy
pandas
scipy
argparse
scikit-learn
h5py
opencv-contrib-python-headless
pillow
tensorflow
pyTelegramBotAPI
